<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  <p>
    <%= link_to "Show this user", user %>
    <% if current_user.admin? %>
        <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"}%>
    <% end %>
  </p>

</div>
