<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<%= will_paginate %>
<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
<%= will_paginate %>

<%# note the use of fixtures in the tests in order to verify this feature %>